@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --prim-dark-blue: hsl(233, 47%, 7%);
    --prim-sat-blue: hsl(244, 38%, 16%);
    --prim-violet: hsl(277, 64%, 61%);
  
    --neu-white: hsl(0, 0%, 100%);
    --neu-trans-white: hsla(0, 0%, 100%, 0.75);
    --neu-more-trans-white: hsla(0, 0%, 100%, 0.6);
  
    --bg-violet: hsl(277deg, 100%, 50%, 0.42);
    --bg-light-violet: hsl(293deg, 42%, 35%, 0.24);
  }

  
*{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--prim-dark-blue);
}

.card_container{
    background-color: var(--prim-sat-blue);
    border-radius: 10px 0px 0px 10px;
    display:flex;
    width: 1000px;
}

.stats_container{
    padding: 2em 4em;
}

.heading{
    color: var(--neu-white);
    font-size: 2em;
    line-height: 1.2;
    letter-spacing: 2px;
    font-weight: 700;
}

.heading span{
    color: var(--prim-violet);
}

.paragraph{
    color: var(--neu-trans-white);
    font-weight: 400;
    width: 85%;
    line-height: 1.5;
    font-size: 15px;

}

.stats_list{
    list-style: none;
    padding:0;
    display: flex;
    justify-content: space-between;
    margin: 3em 3em 0 0;
}

.stats_list h2{
    font-weight: 700;
    margin-block-end: 0.3em;
}
.stats_list p{
    color: var(--neu-trans-white);
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;

}

.bg-img {
    display: flex;
    min-width: 450px;
    min-height: 25em;
    background: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
  }
  
  .overlay {
    display: flex;
    background: var(--bg-violet);
    height: 100%;
    width: 100%;
  }
  
  .overlay-2 {
    display: flex;
    background: var(--bg-light-violet);
    height: 100%;
    width: 100%;
    mix-blend-mode: color-burn;
  }


  @media only screen and (max-width:767px){
    
    .main{
        padding: 0 2em 0em 2em;
    }

    .card_container{
        flex-direction: column-reverse;/
    }

    .bg-img {
        background: url(images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        min-width: 200px;
        margin:0 1em 0 1em;
        min-height: 18em;
    }

    .stats_container{
        text-align: center;
        padding: 2em 2em;
    }

    .stats_container .paragraph{
        text-align: center;
        width: 100%;
        padding: 0 1.5em
    }
    
    .stats_list{
        flex-direction: column;
        margin: 2em 0 0 0;
    }
    .overlay,.overlay-2{
        height: unset;
    }
}
