@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.preview_card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 600px;
}

img {
  width: 50%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

section {
  padding: 5%;
}

section h3 {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 13px;
}

section h1 {
  font-size: 32px;
  line-height: 32px;
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", sans-serif;
}

section p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: hsl(228, 12%, 48%);
}

.offer_price {
  display: flex;
  color: hsl(158, 36%, 37%);
}

.list_price {
  font-size: 12px;
  padding-left: 15px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 1px;
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  background-color: hsl(158, 36%, 37%);
}

button object {
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  .preview_card {
    flex-direction: column;
    width: 370px;
    margin: 0 1.3em;
  }

  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}