:root{
    --Very_Dark_Gray: hsl(0, 0%, 17%);
    --Dark_Gray: hsl(0, 0%, 59%)
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;   
    min-height: 100vh;
    text-align: center;
}

section.search_heading{
    background-image: url('./images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 17em;
}   

section.search_heading h1{
    font-size: 2rem;
    font-weight: 500;
}

form{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 5em;
}

.ip_search{
    height: 50px;
    width: 30em;
    border-radius:10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    font-size: 18px;
    padding-left: 1em;
}

.ip_search_button{
    height: 50px;
    width: 5em;
    border-radius:10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    background: var(--Very_Dark_Gray);
    cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    min-height: 60%;
    background-color:#fff;
    width: 80%;
    flex-direction: row;
    margin: auto;
    padding: 0em 2em;
    text-align: start;
    z-index: 99999999;
    position: relative; 
}

ul>li{
    height: 5em;
    width: 24%;
}

ul>li>h3{
    color:  var(--Dark_Gray);
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
}

section ul>li>h1{
   color:  var(--Very_Dark_Gray);
   margin: 0;
   font-size:30px !important;
   font-weight: 500 !important ;
}



li{
    padding-right: 1em;
    padding-left: 1em;
    border-right: 1px solid var(--Dark_Gray);
}

li:last-of-type{
    border-right: none;
}

.map-container{
    width: 100%;
    height: 83em;
  }









input:active,
input:focus,
input:hover{
    border: none;
    outline: none;
    cursor: pointer;
}


::-webkit-input-placeholder{
        color: var(--Dark_Gray);
        font-size: 18px;
        padding-left: 1.5em;
}

:-ms-input-placeholder{
        color: var(--Dark_Gray);
        font-size: 18px;
        padding-left: 1.5em;
}

::placeholder { 
    color: var(--Dark_Gray);
    font-size: 18px;
    padding-left: 1.5em;
  }

  /* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
  